In [7]:
all_data = [{ "Batch_id" : "Batch_for_testing", "image_name" : "cokeandfanta_20.jpg", "isSuccess" : "true", "message" : "success", "records" : [ { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "250MLPLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "21" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "1.75LPLB Fanta Org", "count" : " ", "type" : "nonsku", "sku" : "19" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "200MLGLB Fanta Org", "count" : " ", "type" : "empty", "sku" : "20" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Kinley", "cname" : " ", "ban" : " ", "category" : "soda", "name" : "1.25MLPLB FANTA org", "count" : " ", "type" : "nonsku", "sku" : "57" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "2.25LPLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "18" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Sprite", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "750MLPLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "17" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "300MLGLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "22" }, "sceneType" : 1 } ] },{ "Batch_id" : "Batch_for_testing", "image_name" : "cokeandfanta_2005.jpg", "isSuccess" : "true", "message" : "success", "records" : [ { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "coolers", "cname" : " ", "ban" : " ", "category" : "", "name" : "coolers", "count" : " ", "type" : "zzzcooler", "sku" : "114" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "1.75LPLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "19" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "200MLGLB Fanta Org", "count" : " ", "type" : "empty", "sku" : "20" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Kinley", "cname" : " ", "ban" : " ", "category" : "soda", "name" : "1.25MLPLB FANTA org", "count" : " ", "type" : "sku", "sku" : "57" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Fanta", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "2.25LPLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "18" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Sprite", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "750MLPLB Fanta Org", "count" : " ", "type" : "sku", "sku" : "17" }, "sceneType" : 1 }, { "clientSceneData" : { "area" : "Aisle", "poc" : "drinks" }, "sceneUid" : "146s8124-s21g-12d3-a456-223324221542", "facing" : { "brand" : "Bisleri", "cname" : " ", "ban" : " ", "category" : "sprkl", "name" : "water_bottl 250", "count" : " ", "type" : "sku", "sku" : "22" }, "sceneType" : 1 } ] }]
#for item in all_data:
    #print(item['records'])
    #print(item['records'])
        
def data_from_mongo_table(dict):
    final_facing_data=[]
    records_data =dict['records']
    for item in records_data:
        item.pop("clientSceneData",None)
        item.pop("sceneUid",None)
        final_facing_data.append(item['facing'])
    return final_facing_data   


import json
import pandas as pd
def facing_proc(data):
    df =pd.DataFrame(data)
    df = df.drop(['count'], axis=1)
    df['count'] = df.groupby(['name'])['brand'].transform('count')
    df = df.drop_duplicates()
    return df 


def final_json_facing(appended_data,complete_data):
    new_dataframe =complete_data(appended_data)
    dictionary_format = new_dataframe.to_dict(orient='records')
    dumping_in_string = json.dumps(dictionary_format)
    loading_in_list = json.loads(dumping_in_string)
    return loading_in_list


def complete_data(appended_data):
    new_dataframe =appended_data.groupby(['cname','type','category','brand','ban','name','sku'],as_index=False)['Count'].sum()
    return new_dataframe

In [8]:
data_to_see =data_from_mongo_table(all_data[0])

In [9]:
all_facing_data = facing_proc(data_to_see)

In [10]:
all_facing_data

    brand cname ban category                 name    type sku  count
0   Fanta              sprkl   250MLPLB Fanta Org     sku  21      1
1   Fanta              sprkl   1.75LPLB Fanta Org  nonsku  19      1
2   Fanta              sprkl   200MLGLB Fanta Org   empty  20      1
3  Kinley               soda  1.25MLPLB FANTA org  nonsku  57      1
4   Fanta              sprkl   2.25LPLB Fanta Org     sku  18      1
5  Sprite              sprkl   750MLPLB Fanta Org     sku  17      1
6   Fanta              sprkl   300MLGLB Fanta Org     sku  22      1

In [4]:
data_to_see

[{'brand': 'Fanta',
  'cname': ' ',
  'ban': ' ',
  'category': 'sprkl',
  'name': '250MLPLB Fanta Org',
  'count': ' ',
  'type': 'sku',
  'sku': '21'},
 {'brand': 'Fanta',
  'cname': ' ',
  'ban': ' ',
  'category': 'sprkl',
  'name': '1.75LPLB Fanta Org',
  'count': ' ',
  'type': 'nonsku',
  'sku': '19'},
 {'brand': 'Fanta',
  'cname': ' ',
  'ban': ' ',
  'category': 'sprkl',
  'name': '200MLGLB Fanta Org',
  'count': ' ',
  'type': 'empty',
  'sku': '20'},
 {'brand': 'Kinley',
  'cname': ' ',
  'ban': ' ',
  'category': 'soda',
  'name': '1.25MLPLB FANTA org',
  'count': ' ',
  'type': 'nonsku',
  'sku': '57'},
 {'brand': 'Fanta',
  'cname': ' ',
  'ban': ' ',
  'category': 'sprkl',
  'name': '2.25LPLB Fanta Org',
  'count': ' ',
  'type': 'sku',
  'sku': '18'},
 {'brand': 'Sprite',
  'cname': ' ',
  'ban': ' ',
  'category': 'sprkl',
  'name': '750MLPLB Fanta Org',
  'count': ' ',
  'type': 'sku',
  'sku': '17'},
 {'brand': 'Fanta',
  'cname': ' ',
  'ban': ' ',
  'category': 'sprkl',
  'name': '300MLGLB Fanta Org',
  'count': ' ',
  'type': 'sku',
  'sku': '22'}]

In [86]:
for item in all_data:
    first_function_is_in_list = data_from_mongo_table(item)

In [87]:
second_function_for_facing_output = facing_proc(first_function_is_in_list)

In [88]:
second_function_for_facing_output

     brand cname ban category                 name       type  sku  Count
0  coolers                                 coolers  zzzcooler  114      1
1    Fanta              sprkl   1.75LPLB Fanta Org        sku   19      1
2    Fanta              sprkl   200MLGLB Fanta Org      empty   20      1
3   Kinley               soda  1.25MLPLB FANTA org        sku   57      1
4    Fanta              sprkl   2.25LPLB Fanta Org        sku   18      1
5   Sprite              sprkl   750MLPLB Fanta Org        sku   17      1
6  Bisleri              sprkl      water_bottl 250        sku   22      1

In [89]:
def all_facing_data(dict):
    data_list =[]
    #get_all_data =pd.DataFrame()
    mongo_data =data_from_mongo_table(dict)
    data_for_facing =facing_proc(mongo_data)
    #print(data_for_facing)
    data_list.append(data_for_facing)
    #print(data_list)
   # print(type(data_for_facing))
    appended_data = pd.concat(data_list)
    return appended_data

In [98]:
for item in all_data:
    all_data_for_purity =  all_facing_data(item)

In [99]:
all_data_for_purity

     brand cname ban category                 name       type  sku  Count
0  coolers                                 coolers  zzzcooler  114      1
1    Fanta              sprkl   1.75LPLB Fanta Org        sku   19      1
2    Fanta              sprkl   200MLGLB Fanta Org      empty   20      1
3   Kinley               soda  1.25MLPLB FANTA org        sku   57      1
4    Fanta              sprkl   2.25LPLB Fanta Org        sku   18      1
5   Sprite              sprkl   750MLPLB Fanta Org        sku   17      1
6  Bisleri              sprkl      water_bottl 250        sku   22      1

In [91]:
import pandas as pd
for item in all_data:
    listi =[]
    data =all_facing_data(item)
    listi.append(data)
    append_data =pd.concat(listi)
    all_dat =final_json_facing(append_data,complete_data)
    print(all_dat)

[{'cname': ' ', 'type': 'empty', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '200MLGLB Fanta Org', 'sku': '20', 'Count': 1}, {'cname': ' ', 'type': 'nonsku', 'category': 'soda', 'brand': 'Kinley', 'ban': ' ', 'name': '1.25MLPLB FANTA org', 'sku': '57', 'Count': 1}, {'cname': ' ', 'type': 'nonsku', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '1.75LPLB Fanta Org', 'sku': '19', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '2.25LPLB Fanta Org', 'sku': '18', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '250MLPLB Fanta Org', 'sku': '21', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '300MLGLB Fanta Org', 'sku': '22', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Sprite', 'ban': ' ', 'name': '750MLPLB Fanta Org', 'sku': '17', 'Count': 1}]
[{'cname': ' ', 'type': 'empty', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '200MLGLB Fanta Org', 'sku': '20', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'soda', 'brand': 'Kinley', 'ban': ' ', 'name': '1.25MLPLB FANTA org', 'sku': '57', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Bisleri', 'ban': ' ', 'name': 'water_bottl 250', 'sku': '22', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '1.75LPLB Fanta Org', 'sku': '19', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Fanta', 'ban': ' ', 'name': '2.25LPLB Fanta Org', 'sku': '18', 'Count': 1}, {'cname': ' ', 'type': 'sku', 'category': 'sprkl', 'brand': 'Sprite', 'ban': ' ', 'name': '750MLPLB Fanta Org', 'sku': '17', 'Count': 1}, {'cname': ' ', 'type': 'zzzcooler', 'category': '', 'brand': 'coolers', 'ban': ' ', 'name': 'coolers', 'sku': '114', 'Count': 1}]

In [92]:
append_data

     brand cname ban category                 name       type  sku  Count
0  coolers                                 coolers  zzzcooler  114      1
1    Fanta              sprkl   1.75LPLB Fanta Org        sku   19      1
2    Fanta              sprkl   200MLGLB Fanta Org      empty   20      1
3   Kinley               soda  1.25MLPLB FANTA org        sku   57      1
4    Fanta              sprkl   2.25LPLB Fanta Org        sku   18      1
5   Sprite              sprkl   750MLPLB Fanta Org        sku   17      1
6  Bisleri              sprkl      water_bottl 250        sku   22      1

In [93]:
pdata

     brand cname ban category                 name       type  sku  Count
0  coolers                                 coolers  zzzcooler  114      1
1    Fanta              sprkl   1.75LPLB Fanta Org        sku   19      1
2    Fanta              sprkl   200MLGLB Fanta Org      empty   20      1
3   Kinley               soda  1.25MLPLB FANTA org        sku   57      1
4    Fanta              sprkl   2.25LPLB Fanta Org        sku   18      1
5   Sprite              sprkl   750MLPLB Fanta Org        sku   17      1
6  Bisleri              sprkl      water_bottl 250        sku   22      1

In [94]:
final_data_for_facing =final_json_facing(pdata,complete_data)

In [95]:
def final_json_facing(get_all_data,complete_data):
    new_dataframe =complete_data(get_all_data)
    dictionary_format = new_dataframe.to_dict(orient='records')
    dumping_in_string = json.dumps(dictionary_format)
    loading_in_list = json.loads(dumping_in_string)
    return loading_in_list

In [96]:
all

In [97]:
final_data_for_facing

[{'cname': ' ',
  'type': 'empty',
  'category': 'sprkl',
  'brand': 'Fanta',
  'ban': ' ',
  'name': '200MLGLB Fanta Org',
  'sku': '20',
  'Count': 1},
 {'cname': ' ',
  'type': 'sku',
  'category': 'soda',
  'brand': 'Kinley',
  'ban': ' ',
  'name': '1.25MLPLB FANTA org',
  'sku': '57',
  'Count': 1},
 {'cname': ' ',
  'type': 'sku',
  'category': 'sprkl',
  'brand': 'Bisleri',
  'ban': ' ',
  'name': 'water_bottl 250',
  'sku': '22',
  'Count': 1},
 {'cname': ' ',
  'type': 'sku',
  'category': 'sprkl',
  'brand': 'Fanta',
  'ban': ' ',
  'name': '1.75LPLB Fanta Org',
  'sku': '19',
  'Count': 1},
 {'cname': ' ',
  'type': 'sku',
  'category': 'sprkl',
  'brand': 'Fanta',
  'ban': ' ',
  'name': '2.25LPLB Fanta Org',
  'sku': '18',
  'Count': 1},
 {'cname': ' ',
  'type': 'sku',
  'category': 'sprkl',
  'brand': 'Sprite',
  'ban': ' ',
  'name': '750MLPLB Fanta Org',
  'sku': '17',
  'Count': 1},
 {'cname': ' ',
  'type': 'zzzcooler',
  'category': '',
  'brand': 'coolers',
  'ban': ' ',
  'name': 'coolers',
  'sku': '114',
  'Count': 1}]