In [83]:
import pandas as pd
data2 =[
{'cname': '" "',
  'type': '"empty"',
  'count': '" "',
  'category': '"sprkl"',
  'brand': '"coke"',
  'ban': '" "',
  'name': "'1.25LPLB Coke'"},
 {'cname': '" "',
  'type': '"noncoke"',
  'count': '" "',
  'category': '"sprkl"',
  'brand': '"coke"',
  'ban': '" "',
  'name': "'750MLPLB Coke'"},
 {'cname': '" "',
  'type': '"door"',
  'count': '" "',
  'category': '"sprkl"',
  'brand': '"coke"',
  'ban': '" "',
  'name': "'2.25LPLB Coke'"},
 {'cname': '" "',
  'type': '"empty"',
  'count': '" "',
  'category': '"sprkl"',
  'brand': '"coke"',
  'ban': '" "',
  'name': "'200MLGLB Coke'"},
 {'cname': '" "',
  'type': '"sku"',
  'count': '" "',
  'category': '"sprkl"',
  'brand': '"coke"',
  'ban': '" "',
  'name': "'2.25LPLB Coke'"},
{'cname': '" "',
  'type': '"sku"',
  'count': '" "',
  'category': '"sprkl"',
  'brand': '"coke"',
  'ban': '" "',
  'name': "'2.25LPLB Coke'"}]

5

In [2]:
#data_proc =pd.DataFrame(data)

In [3]:
#data_proc

In [4]:
#data_proc['name'].value_counts()

In [5]:
#data_proc['Counts'] = data_proc.groupby(['name'])['brand'].transform('count')

In [6]:
#data_proc

In [7]:
#data_proc = data_proc.drop_duplicates()

In [8]:
#data_proc.drop(['count'], axis=1)

In [80]:
def facing_proc(data):
    df =pd.DataFrame(data)
    df['Counts'] = df.groupby(['name'])['brand'].transform('count')
    df = df.drop_duplicates()
    df = df.drop(['count'], axis=1)
    return df

In [81]:
df1 =facing_proc(data)

In [82]:
def complete_data(appended_dataframe):
    new_dataframe =appended_dataframe.groupby(['cname','type','category','brand','ban','name'],as_index=False)['Counts'].sum()
    return new_dataframe

In [87]:
test =complete_data(final_dataframe)

In [88]:
new_purity = test.groupby('type')['Counts'].sum()

In [93]:
new_purity[1]

4

In [84]:
df2 =facing_proc(data2)

In [85]:
final_dataframe = df1.append(df2)

In [86]:
final_dataframe

  cname       type category   brand  ban             name  Counts
0   " "    "empty"  "sprkl"  "coke"  " "  '1.25LPLB Coke'       1
1   " "  "noncoke"  "sprkl"  "coke"  " "  '750MLPLB Coke'       1
2   " "     "door"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       3
3   " "    "empty"  "sprkl"  "coke"  " "  '200MLGLB Coke'       1
4   " "      "sku"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       3
0   " "    "empty"  "sprkl"  "coke"  " "  '1.25LPLB Coke'       1
1   " "  "noncoke"  "sprkl"  "coke"  " "  '750MLPLB Coke'       1
2   " "     "door"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       3
3   " "    "empty"  "sprkl"  "coke"  " "  '200MLGLB Coke'       1
4   " "      "sku"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       3

In [1]:
import json
d = final_dataframe.to_dict(orient='records')
j = json.dumps(d)

NameError: name 'final_dataframe' is not defined

In [39]:
new_df = final_dataframe.groupby(['name','type'],as_index=False)['Counts'].sum()

In [40]:
new_df

              name   type  Counts
0  '1.25LPLB Coke'  "sku"       2
1  '2.25LPLB Coke'  "sku"       5
2  '200MLGLB Coke'  "sku"       2
3  '750MLPLB Coke'  "sku"       2

In [36]:
final_dataframe

  cname   type category   brand  ban             name  Counts Counting
0   " "  "sku"  "sprkl"  "coke"  " "  '1.25LPLB Coke'       1      NaN
1   " "  "sku"  "sprkl"  "coke"  " "  '750MLPLB Coke'       1      NaN
2   " "  "sku"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       2      NaN
3   " "  "sku"  "sprkl"  "coke"  " "  '200MLGLB Coke'       1      NaN
0   " "  "sku"  "sprkl"  "coke"  " "  '1.25LPLB Coke'       1      NaN
1   " "  "sku"  "sprkl"  "coke"  " "  '750MLPLB Coke'       1      NaN
2   " "  "sku"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       3      NaN
3   " "  "sku"  "sprkl"  "coke"  " "  '200MLGLB Coke'       1      NaN

In [16]:
df1.update(df2)

In [17]:
df1

  cname   type category   brand  ban             name  Counts
0   " "  "sku"  "sprkl"  "coke"  " "  '1.25LPLB Coke'       1
1   " "  "sku"  "sprkl"  "coke"  " "  '750MLPLB Coke'       1
2   " "  "sku"  "sprkl"  "coke"  " "  '2.25LPLB Coke'       3
3   " "  "sku"  "sprkl"  "coke"  " "  '200MLGLB Coke'       1

In [14]:
df = facing_proc(data)

In [19]:
final_df = df.append(df1)

In [40]:
final_df

,cname,type,category,brand,ban,name,Counts,final_count
0,""" ""","""sku""","""sprkl""","""coke""",""" """,'1.25LPLB Coke',1,2
1,""" ""","""sku""","""sprkl""","""coke""",""" """,'750MLPLB Coke',1,2
2,""" ""","""sku""","""sprkl""","""coke""",""" """,'2.25LPLB Coke',2,2
3,""" ""","""sku""","""sprkl""","""coke""",""" """,'200MLGLB Coke',1,2
5,""" ""","""sku""","""sprkl""","""coke""",""" """,'250MLPLB Coke',1,2
6,""" ""","""sku""","""sprkl""","""coke""",""" """,'300MLALCN dt Coke',1,2
7,""" ""","""sku""","""sprkl""","""coke""",""" """,'200MLALCN Coke ',1,2
8,""" ""","""sku""","""sprkl""","""coke""",""" """,'200MLALCN Coke',1,2
9,""" ""","""sku""","""sprkl""","""coke""",""" """,'750MLPLB Sprite',1,2
10,""" ""","""sku""","""sprkl""","""Sprite""",""" """,'2.25LPLB Sprite',2,2
12,""" ""","""sku""","""sprkl""","""Sprite""",""" """,'300MLALCN Sprite',4,2
16,""" ""","""sku""","""sprkl""","""Fanta""",""" """,'2.25LPLB Fanta Org',1,2
0,""" ""","""sku""","""sprkl""","""coke""",""" """,'1.25LPLB Coke',1,2
1,""" ""","""sku""","""sprkl""","""coke""",""" """,'750MLPLB Coke',1,2
2,""" ""","""sku""","""sprkl""","""coke""",""" """,'2.25LPLB Coke',2,2
3,""" ""","""sku""","""sprkl""","""coke""",""" """,'200MLGLB Coke',1,2
5,""" ""","""sku""","""sprkl""","""coke""",""" """,'250MLPLB Coke',1,2
6,""" ""","""sku""","""sprkl""","""coke""",""" """,'300MLALCN dt Coke',1,2
7,""" ""","""sku""","""sprkl""","""coke""",""" """,'200MLALCN Coke ',1,2
8,""" ""","""sku""","""sprkl""","""coke""",""" """,'200MLALCN Coke',1,2
9,""" ""","""sku""","""sprkl""","""coke""",""" """,'750MLPLB Sprite',1,2
10,""" ""","""sku""","""sprkl""","""Sprite""",""" """,'2.25LPLB Sprite',2,2
12,""" ""","""sku""","""sprkl""","""Sprite""",""" """,'300MLALCN Sprite',4,2
16,""" ""","""sku""","""sprkl""","""Fanta""",""" """,'2.25LPLB Fanta Org',1,2

In [46]:
final_df.query("name == 1")['Counts'].sum()

0

In [44]:
final_df.loc[final_df['name'] == 1, 'Counts'].sum()

0

In [45]:
final_df_1

0

In [10]:
#class handling_request():

In [11]:
dataum2 =facing_proc(data2)

NameError: name 'pd' is not defined

In [ ]:
final_dataum = dataum.append(dataum2)

In [ ]:
final_dataum

In [ ]:
final_dataum.groupby(['name', 'brand','type','category',"ban"], as_index=False).agg('sum')

In [ ]:
final_dataum.groupby(['name'])['Counts'].transform('count')

In [57]:
lst = [[1, 5], [1, 7], 
       [2, 3], [1, 3],[2,5]] 
data3 =pd.DataFrame(lst,columns =["a","b"])

In [58]:
data3

   a  b
0  1  5
1  1  7
2  2  3
3  1  3
4  2  5

In [59]:
data3.loc[data3['a'] == 1, 'b'].sum()

15